html{
	background-color:#DEE9ED;
	font-family:Verdana, Geneva, sans-serif;
}

body {
	background-color:#FFF;
	
	width:1200px;
	height:800px;
	
	margin:2em auto;
	padding:1%;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	
	-webkit-box-shadow:  0px 0px 5px 5px #999;
	-moz-box-shadow:  0px 0px 5px 5px #999;
	box-shadow:  0px 0px 5px 5px #999; 
}

h1 {
	padding-top:1em;
	margin-left:1em;
}

#adminlink {
	background-color:#FFF;

	top: 0;
	position: fixed;
	right: 0;

	padding:.8em 1.5em;;
	margin:2em;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	
	-webkit-box-shadow: inset 0px 0px 5px 5px #999;
	-moz-box-shadow: inset 0px 0px 5px 5px #999;
	box-shadow: inset 0px 0px 5px 5px #999; 
}

#list {
	font-size:14px;
	
	display:inline-block;
	float:right;

	width:44%;
	height:75%;
	margin:3%;
	
	padding:0;
	
	overflow-y:scroll;
	list-style-type:none;
}


.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;

list-style-type: none;
line-height: 1;
}

.rater-level {
float: left;

color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color: #efecd2;
text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #ffe91f;
}

#list li {
	padding:2px;
}

#list li a {
	text-decoration: none;
}

#list li a:hover {
	color:#6FF;
	background-color:#060;

}

#map {
	display:inline-block;
	float:left;
	
	width:45%;
	height:75%;
	margin:3%;
	margin-right:0;
}

.info-window strong {
	display: block;
}
