html{
	background-color:#DEE9ED;
	font-family:Verdana, Geneva, sans-serif;
}

body {
	background-color:#FFF;
	
	width:1200px;
	height:800px;
	
	margin:2em auto;
	padding:1%;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	
	-webkit-box-shadow:  0px 0px 5px 5px #999;
	-moz-box-shadow:  0px 0px 5px 5px #999;
	box-shadow:  0px 0px 5px 5px #999; 
}

h1 {
	padding-top:1em;
	margin-left:2em;
}

#adminlink {
	background-color:#FFF;

	bottom: 0;
	position: absolute;
	left: 0;

	padding:.5em 1em;;
	margin:1em;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	
	-webkit-box-shadow: inset 0px 0px 5px 5px #999;
	-moz-box-shadow: inset 0px 0px 5px 5px #999;
	box-shadow: inset 0px 0px 5px 5px #999; 
}

#list {
	font-size:12px;
	
	display:inline-block;
	float:left;

	width:44%;
	height:75%;
	margin:3%;
	margin-right:0;
	
	padding:0;
	
	overflow-y:scroll;
	list-style-type:none;
}

.ratings {
	float:left;
	margin-right:2em;
}

#list li {
	padding-bottom:6px;
}

#map {
	display:inline-block;
	float:right;
	
	width:45%;
	height:75%;
	margin:3%;
}

.info-window {
}